pymongo==4.3.3
flask_wtf==1.1.1
pytz==2023.3.post1
schedule==1.2.1
wtforms==3.0.1
requests==2.31.0
aniso8601==9.0.1
blinker==1.6.3
certifi==2023.11.17
cffi==1.14.3
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cors==1.0.1
dnspython==2.3.0
dominate==2.9.0
email-validator==2.1.0
everapi==0.1.1
filelock==3.12.2
Flask==2.2.5
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
freecurrencyapi==0.1.0
future==0.18.3
gevent==22.10.2
greenlet==3.0.3
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
pycparser==2.21
PySocks==1.7.1
python-dotenv==0.21.1
pytz==2023.3.post1
requests==2.31.0
requests-file==1.5.1
schedule==1.2.1
setuptools==68.0.0
six==1.16.0
SQLAlchemy==2.0.25
tldextract==4.0.0
typing_extensions==4.7.1
urllib3==2.0.7
visitor==0.1.3
Werkzeug==2.2.3
wheel==0.42.0
zope.event==5.0
zope.interface==6.1