body{
    font-family: Monda;
}
.imgs, .store-img{
    width: 216px;
    height:70px;
}
.hero-img, .about-img{
    width:384px;
    height:309px;
}

.hero, .about{
    width:100%;
}

.padding{
    padding:0 7%;
}
.cs-bg1{
    background: #D6D6D6;
}
.max-w{
    max-width: 580px;
    gap:12px;
}
.space{
    margin-top:5em;
    padding:5px 15%;
    
}
.box{
    background: #fff;
    border-radius: 30px;
    align-items: center;
    width:487px;
    height:244px;
}
.footer{
    background:#000000;
}