body{
    font-family: Monda;
}
.imgs, .store-img{
    width: 216px;
    height:70px;
}
.about-img, .priv-img{
    width:384px;
    height:309px;
}
.hero-img{
    width:131px;
    height:294px;
}
.hero, .about, .priv{
    width:100%;
}
.hero{
    position:relative;
    left:8em;
}

.padding{
    padding:0 7%;
}
.cs-bg1{
    background: #D6D6D6;
}
.max-w{
    max-width: 580px;
    gap:12px;
}
.space{
    margin-top:5em;
    padding:5px 15%;
    
}
.box{
    background: #fff;
    border-radius: 30px;
    align-items: center;
    max-width:487px;
    height:auto;
    padding: 50px;
}
.button{
    padding:10px;
    background-color: #0840AC;
    border:none;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top:2.2em;
    cursor: pointer;
}
.small_input{
    width: 85px;
}
.button img{
    width:20.4px;
    height:23px;
}
.footer{
    background:#000000;
}
.privacy-section{
    margin-bottom:2em;
}

@media screen and (max-width: 680px){
    .imgs, .store-img{
        width:120px;
        height:auto;
    }
}