{% include 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<div class="glass">
    <span <a href="{{ url_for('about')}}#brief"></a>>Brief</span>
    <span <a href="{{ url_for('about')}}#api "></a>>Brief</span>
</div>
<div class="container about-section d-lg-flex align-items-center justify-content-center space">
    <div class="max-w">
        <h2 id="brief">About</h2>
        <p>We believe that financial transactions should
            be as borderless as the modern world we live 
            in. Whether you're a frequent traveler, <a href="">more</a></p>
        <h2 id="api">Api for developers</h2>
        <p>Our </p>
    </div>
    <div class="about-img">
        <img class="about" src="../static/images/unsplash_TamMbr4okv4.png" alt="about">
    </div>
{% endblock %}
{% include 'footer.html' %}