{% include 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<div class="container about-section d-lg-flex align-items-top justify-content-center space">
    <div class="max-w">
        <h2 id="brief">About</h2>
        <p>We believe that financial transactions should be as borderless as the modern world 
            we live in. Whether you're a frequent traveler exploring new destinations or an entrepreneur 
            conducting business across continents, seamless access to your finances is paramount. Our mission 
            is to break down barriers and empower individuals and businesses alike to navigate the global economy 
            effortlessly. With our innovative solutions, you can transcend geographical boundaries, exchange 
            currencies with ease, and engage in transactions securely, all while embracing the interconnectedness 
            of our diverse world. Welcome to a future where financial freedom knows no bounds.</p>
        <h2 id="api">Api for developers</h2>
        <h4>Convert currency endpoint</h4>
        <pre>
            <code>
                http://currencyconverter.com.ng/api/convert/{a}/{b}/{c}
            </code>
        </pre>

        <p>Where {a} is currency to convert
            {b} is currency converting to
            {c} is amount to convert
        </p>

        <h4>Result data below where {a} is USD {b} is NGN {c} 100</h4>
        <pre>
            <code>
                {
                    &quot;Unit_per1&quot;: &quot;1USD = 1500.50NGN&quot;,
                    &quot;amount_to_convert&quot;: 100,
                    &quot;convert_from&quot;: &quot;USD&quot;,
                    &quot;convert_to&quot;: &quot;NGN&quot;,
                    &quot;converted_amount&quot;: &quot;150050.00&quot;
                    }
            </code>
        </pre>

        <h4>Get recent currency rates</h4>
        <pre>
            <code>
                http://currencyconverter.com.ng/api/currencybase/
            </code>
        </pre>

        <h4>Result data sample below</h4>
        <pre>
            <code>
                {
                    &quot;_id&quot;: &quot;65d486315172e6f64ef3c59c&quot;,
                    &quot;base&quot;: &quot;EUR&quot;,
                    &quot;date&quot;: &quot;2024-02-20&quot;,
                    &quot;rates&quot;: {
                    &quot;AED&quot;: 3.968311,
                    &quot;AFN&quot;: 79.793242,
                    &quot;ALL&quot;: 104.119593,
                    &quot;AMD&quot;: 439.156843,
                    &quot;ANG&quot;: 1.949273,
                    &quot;AOA&quot;: 894.882475,
                    &quot;ARS&quot;: 904.045728,
                    &quot;AUD&quot;: 1.647288,
                    &quot;AWG&quot;: 1.944747,
                    &quot;AZN&quot;: 1.834147,
                    &quot;BAM&quot;: 1.962731,
                    &quot;BBD&quot;: 2.183752,
                    &quot;BDT&quot;: 118.709184,
                    &quot;BGN&quot;: 1.958674,
                    &quot;BHD&quot;: 0.407244,
                    &quot;BIF&quot;: 3088.362761,
                    &quot;BMD&quot;: 1.080415,
                    &quot;BND&quot;: 1.455466,
                    &quot;BOB&quot;: 7.47339,
                    &quot;BRL&quot;: 5.355829,
                    &quot;BSD&quot;: 1.081539,
                    &quot;BTC&quot;: 0.000020725611,
                    &quot;BTN&quot;: 89.800349,
                    &quot;BWP&quot;: 14.805693,
                    &quot;BYN&quot;: 3.539564,
                    &quot;BYR&quot;: 21176.13693,
                    &quot;BZD&quot;: 2.180149,
                    &quot;CAD&quot;: 1.456405,
                    &quot;CDF&quot;: 2976.543922,
                    &quot;CHF&quot;: 0.951958,
                    &quot;CLF&quot;: 0.037788,
                    &quot;CLP&quot;: 1042.67636,
                    &quot;CNY&quot;: 7.773265,
                    &quot;COP&quot;: 4233.174597,
                    &quot;CRC&quot;: 556.174252,
                    &quot;CUC&quot;: 1.080415,
                    &quot;CUP&quot;: 28.631001,
                    &quot;CVE&quot;: 110.657288,
                    &quot;CZK&quot;: 25.471651,
                    &quot;DJF&quot;: 192.573578,
                    &quot;DKK&quot;: 7.45487,
                    &quot;DOP&quot;: 63.405069,
                    &quot;DZD&quot;: 145.152745,
                    &quot;EGP&quot;: 33.382992,
                    &quot;ERN&quot;: 16.206227,
                    &quot;ETB&quot;: 61.305416,
                    &quot;EUR&quot;: 1,
                    &quot;FJD&quot;: 2.448324,
                    &quot;FKP&quot;: 0.858537,
                    &quot;GBP&quot;: 0.856672,
                    &quot;GEL&quot;: 2.846935,
                    &quot;GGP&quot;: 0.858537,
                    &quot;GHS&quot;: 13.508702,
                    &quot;GIP&quot;: 0.858537,
                    &quot;GMD&quot;: 73.198365,
                    &quot;GNF&quot;: 9297.001565,
                    &quot;GTQ&quot;: 8.444938,
                    &quot;GYD&quot;: 226.449636,
                    &quot;HKD&quot;: 8.44963,
                    &quot;HNL&quot;: 26.694758,
                    &quot;HRK&quot;: 7.595421,
                    &quot;HTG&quot;: 143.018998,
                    &quot;HUF&quot;: 388.830065,
                    &quot;IDR&quot;: 16917.896701,
                    &quot;ILS&quot;: 3.947728,
                    &quot;IMP&quot;: 0.858537,
                    &quot;INR&quot;: 89.620275,
                    &quot;IQD&quot;: 1416.816158,
                    &quot;IRR&quot;: 45490.880422,
                    &quot;ISK&quot;: 148.308322,
                    &quot;JEP&quot;: 0.858537,
                    &quot;JMD&quot;: 169.461538,
                    &quot;JOD&quot;: 0.76612,
                    &quot;JPY&quot;: 162.209755,
                    &quot;KES&quot;: 156.117346,
                    &quot;KGS&quot;: 96.621072,
                    &quot;KHR&quot;: 4408.649382,
                    &quot;KMF&quot;: 493.212838,
                    &quot;KPW&quot;: 972.377222,
                    &quot;KRW&quot;: 1441.468408,
                    &quot;KWD&quot;: 0.332573,
                    &quot;KYD&quot;: 0.901291,
                    &quot;KZT&quot;: 487.997729,
                    &quot;LAK&quot;: 22555.063706,
                    &quot;LBP&quot;: 16207.531873,
                    &quot;LKR&quot;: 338.107049,
                    &quot;LRD&quot;: 205.828223,
                    &quot;LSL&quot;: 20.398195,
                    &quot;LTL&quot;: 3.190185,
                    &quot;LVL&quot;: 0.653532,
                    &quot;LYD&quot;: 5.235585,
                    &quot;MAD&quot;: 10.906714,
                    &quot;MDL&quot;: 19.338646,
                    &quot;MGA&quot;: 4906.553031,
                    &quot;MKD&quot;: 61.607881,
                    &quot;MMK&quot;: 2271.262299,
                    &quot;MNT&quot;: 3692.09522,
                    &quot;MOP&quot;: 8.713168,
                    &quot;MRU&quot;: 42.773917,
                    &quot;MUR&quot;: 49.517371,
                    &quot;MVR&quot;: 16.639898,
                    &quot;MWK&quot;: 1820.713542,
                    &quot;MXN&quot;: 18.392026,
                    &quot;MYR&quot;: 5.183287,
                    &quot;MZN&quot;: 68.557385,
                    &quot;NAD&quot;: 20.397943,
                    &quot;NGN&quot;: 1621.162732,
                    &quot;NIO&quot;: 39.811318,
                    &quot;NOK&quot;: 11.311131,
                    &quot;NPR&quot;: 143.681025,
                    &quot;NZD&quot;: 1.751067,
                    &quot;OMR&quot;: 0.415928,
                    &quot;PAB&quot;: 1.081519,
                    &quot;PEN&quot;: 4.130725,
                    &quot;PGK&quot;: 4.11862,
                    &quot;PHP&quot;: 60.494621,
                    &quot;PKR&quot;: 299.43109,
                    &quot;PLN&quot;: 4.326791,
                    &quot;PYG&quot;: 7890.007157,
                    &quot;QAR&quot;: 3.933816,
                    &quot;RON&quot;: 4.977149,
                    &quot;RSD&quot;: 117.192668,
                    &quot;RUB&quot;: 99.933027,
                    &quot;RWF&quot;: 1376.825548,
                    &quot;SAR&quot;: 4.052088,
                    &quot;SBD&quot;: 9.110835,
                    &quot;SCR&quot;: 14.55252,
                    &quot;SDG&quot;: 649.329378,
                    &quot;SEK&quot;: 11.22486,
                    &quot;SGD&quot;: 1.452532,
                    &quot;SHP&quot;: 1.360461,
                    &quot;SLE&quot;: 24.464942,
                    &quot;SLL&quot;: 21338.198864,
                    &quot;SOS&quot;: 617.454961,
                    &quot;SRD&quot;: 39.055934,
                    &quot;STD&quot;: 22362.412245,
                    &quot;SVC&quot;: 9.463505,
                    &quot;SYP&quot;: 14047.323157,
                    &quot;SZL&quot;: 20.528871,
                    &quot;THB&quot;: 38.92752,
                    &quot;TJS&quot;: 11.848339,
                    &quot;TMT&quot;: 3.781453,
                    &quot;TND&quot;: 3.390886,
                    &quot;TOP&quot;: 2.55556,
                    &quot;TRY&quot;: 33.385259,
                    &quot;TTD&quot;: 7.33798,
                    &quot;TWD&quot;: 33.982832,
                    &quot;TZS&quot;: 2738.852669,
                    &quot;UAH&quot;: 41.425298,
                    &quot;UGX&quot;: 4193.80913,
                    &quot;USD&quot;: 1.080415,
                    &quot;UYU&quot;: 42.309402,
                    &quot;UZS&quot;: 13352.272976,
                    &quot;VEF&quot;: 3920720.881213,
                    &quot;VES&quot;: 39.141696,
                    &quot;VND&quot;: 26507.985692,
                    &quot;VUV&quot;: 130.151283,
                    &quot;WST&quot;: 2.970909,
                    &quot;XAF&quot;: 658.31209,
                    &quot;XAG&quot;: 0.046788,
                    &quot;XAU&quot;: 0.000533,
                    &quot;XCD&quot;: 2.919876,
                    &quot;XDR&quot;: 0.816421,
                    &quot;XOF&quot;: 658.293745,
                    &quot;XPF&quot;: 119.331742,
                    &quot;YER&quot;: 270.481643,
                    &quot;ZAR&quot;: 20.518434,
                    &quot;ZMK&quot;: 9725.030475,
                    &quot;ZMW&quot;: 24.740937,
                    &quot;ZWL&quot;: 347.893237
                    },
                    &quot;success&quot;: true,
                    &quot;timestamp&quot;: 1708426743
                    }
            </code>
        </pre>
        <h4>Endpoint for country names and currencies</h4>
        <pre>
            <code>http://currencyconverter.com.ng/api/currencies&codes/</code>
        </pre>

        <h4>Sample result below</h4>

        <pre>
            <code>
                {
                    &quot;Afghanistan&quot;: &quot;AFN&quot;,
                    &quot;Albania&quot;: &quot;ALL&quot;,
                    &quot;Algeria&quot;: &quot;DZD&quot;,
                    &quot;Angola&quot;: &quot;AOA&quot;,
                    &quot;Argentina&quot;: &quot;ARS&quot;,
                    &quot;Armenia&quot;: &quot;AMD&quot;,
                    &quot;Aruba&quot;: &quot;AWG&quot;,
                    &quot;Australia&quot;: &quot;AUD&quot;,
                    &quot;Azerbaijan&quot;: &quot;AZN&quot;,
                    &quot;Bahamas&quot;: &quot;BSD&quot;,
                    &quot;Bahrain&quot;: &quot;BHD&quot;,
                    &quot;Bangladesh&quot;: &quot;BDT&quot;,
                    &quot;Barbados&quot;: &quot;BBD&quot;,
                    &quot;Belarus&quot;: &quot;BYN&quot;,
                    &quot;Belarus (pre-2016)&quot;: &quot;BYR&quot;,
                    &quot;Belize&quot;: &quot;BZD&quot;,
                    &quot;Bermuda&quot;: &quot;BMD&quot;,
                    &quot;Bhutan&quot;: &quot;BTN&quot;,
                    &quot;Bitcoin&quot;: &quot;BTC&quot;,
                    &quot;Bolivia&quot;: &quot;BOB&quot;,
                    &quot;Bosnia and Herzegovina&quot;: &quot;BAM&quot;,
                    &quot;Botswana&quot;: &quot;BWP&quot;,
                    &quot;Brazil&quot;: &quot;BRL&quot;,
                    &quot;Brunei&quot;: &quot;BND&quot;,
                    &quot;Bulgaria&quot;: &quot;BGN&quot;,
                    &quot;Burundi&quot;: &quot;BIF&quot;,
                    &quot;Cambodia&quot;: &quot;KHR&quot;,
                    &quot;Canada&quot;: &quot;CAD&quot;,
                    &quot;Cape Verde&quot;: &quot;CVE&quot;,
                    &quot;Cayman Islands&quot;: &quot;KYD&quot;,
                    &quot;Central African CFA franc&quot;: &quot;XAF&quot;,
                    &quot;Chile&quot;: &quot;CLP&quot;,
                    &quot;Chile (Unidad de Fomento)&quot;: &quot;CLF&quot;,
                    &quot;China&quot;: &quot;CNY&quot;,
                    &quot;Colombia&quot;: &quot;COP&quot;,
                    &quot;Comoros&quot;: &quot;KMF&quot;,
                    &quot;Costa Rica&quot;: &quot;CRC&quot;,
                    &quot;Croatia&quot;: &quot;HRK&quot;,
                    &quot;Cuba&quot;: &quot;CUP&quot;,
                    &quot;Cuba (Convertible Peso)&quot;: &quot;CUC&quot;,
                    &quot;Czech Republic&quot;: &quot;CZK&quot;,
                    &quot;Democratic Republic of the Congo&quot;: &quot;CDF&quot;,
                    &quot;Denmark&quot;: &quot;DKK&quot;,
                    &quot;Djibouti&quot;: &quot;DJF&quot;,
                    &quot;Dominican Republic&quot;: &quot;DOP&quot;,
                    &quot;Eastern Caribbean Dollar&quot;: &quot;XCD&quot;,
                    &quot;Egypt&quot;: &quot;EGP&quot;,
                    &quot;Eritrea&quot;: &quot;ERN&quot;,
                    &quot;Eswatini&quot;: &quot;SZL&quot;,
                    &quot;Ethiopia&quot;: &quot;ETB&quot;,
                    &quot;Eurozone&quot;: &quot;EUR&quot;,
                    &quot;Falkland Islands&quot;: &quot;FKP&quot;,
                    &quot;Fiji&quot;: &quot;FJD&quot;,
                    &quot;French Pacific Franc&quot;: &quot;XPF&quot;,
                    &quot;Gambia&quot;: &quot;GMD&quot;,
                    &quot;Georgia&quot;: &quot;GEL&quot;,
                    &quot;Ghana&quot;: &quot;GHS&quot;,
                    &quot;Gibraltar&quot;: &quot;GIP&quot;,
                    &quot;Gold (one troy ounce)&quot;: &quot;XAU&quot;,
                    &quot;Guatemala&quot;: &quot;GTQ&quot;,
                    &quot;Guernsey&quot;: &quot;GGP&quot;,
                    &quot;Guinea&quot;: &quot;GNF&quot;,
                    &quot;Guyana&quot;: &quot;GYD&quot;,
                    &quot;Haiti&quot;: &quot;HTG&quot;,
                    &quot;Honduras&quot;: &quot;HNL&quot;,
                    &quot;Hong Kong&quot;: &quot;HKD&quot;,
                    &quot;Hungary&quot;: &quot;HUF&quot;,
                    &quot;Iceland&quot;: &quot;ISK&quot;,
                    &quot;India&quot;: &quot;INR&quot;,
                    &quot;Indonesia&quot;: &quot;IDR&quot;,
                    &quot;Iran&quot;: &quot;IRR&quot;,
                    &quot;Iraq&quot;: &quot;IQD&quot;,
                    &quot;Isle of Man&quot;: &quot;IMP&quot;,
                    &quot;Israel&quot;: &quot;ILS&quot;,
                    &quot;Jamaica&quot;: &quot;JMD&quot;,
                    &quot;Japan&quot;: &quot;JPY&quot;,
                    &quot;Jersey&quot;: &quot;JEP&quot;,
                    &quot;Jordan&quot;: &quot;JOD&quot;,
                    &quot;Kazakhstan&quot;: &quot;KZT&quot;,
                    &quot;Kenya&quot;: &quot;KES&quot;,
                    &quot;Kuwait&quot;: &quot;KWD&quot;,
                    &quot;Kyrgyzstan&quot;: &quot;KGS&quot;,
                    &quot;Laos&quot;: &quot;LAK&quot;,
                    &quot;Latvia&quot;: &quot;LVL&quot;,
                    &quot;Lebanon&quot;: &quot;LBP&quot;,
                    &quot;Lesotho&quot;: &quot;LSL&quot;,
                    &quot;Liberia&quot;: &quot;LRD&quot;,
                    &quot;Libya&quot;: &quot;LYD&quot;,
                    &quot;Lithuania&quot;: &quot;LTL&quot;,
                    &quot;Macau&quot;: &quot;MOP&quot;,
                    &quot;Madagascar&quot;: &quot;MGA&quot;,
                    &quot;Malawi&quot;: &quot;MWK&quot;,
                    &quot;Malaysia&quot;: &quot;MYR&quot;,
                    &quot;Maldives&quot;: &quot;MVR&quot;,
                    &quot;Mauritania&quot;: &quot;MRU&quot;,
                    &quot;Mauritius&quot;: &quot;MUR&quot;,
                    &quot;Mexico&quot;: &quot;MXN&quot;,
                    &quot;Moldova&quot;: &quot;MDL&quot;,
                    &quot;Mongolia&quot;: &quot;MNT&quot;,
                    &quot;Morocco&quot;: &quot;MAD&quot;,
                    &quot;Mozambique&quot;: &quot;MZN&quot;,
                    &quot;Myanmar&quot;: &quot;MMK&quot;,
                    &quot;Namibia&quot;: &quot;NAD&quot;,
                    &quot;Nepal&quot;: &quot;NPR&quot;,
                    &quot;Netherlands Antilles&quot;: &quot;ANG&quot;,
                    &quot;New Zealand&quot;: &quot;NZD&quot;,
                    &quot;Nicaragua&quot;: &quot;NIO&quot;,
                    &quot;Nigeria&quot;: &quot;NGN&quot;,
                    &quot;North Korea&quot;: &quot;KPW&quot;,
                    &quot;North Macedonia&quot;: &quot;MKD&quot;,
                    &quot;Norway&quot;: &quot;NOK&quot;,
                    &quot;Oman&quot;: &quot;OMR&quot;,
                    &quot;Pakistan&quot;: &quot;PKR&quot;,
                    &quot;Panama&quot;: &quot;PAB&quot;,
                    &quot;Papua New Guinea&quot;: &quot;PGK&quot;,
                    &quot;Paraguay&quot;: &quot;PYG&quot;,
                    &quot;Peru&quot;: &quot;PEN&quot;,
                    &quot;Philippines&quot;: &quot;PHP&quot;,
                    &quot;Poland&quot;: &quot;PLN&quot;,
                    &quot;Qatar&quot;: &quot;QAR&quot;,
                    &quot;Romania&quot;: &quot;RON&quot;,
                    &quot;Russia&quot;: &quot;RUB&quot;,
                    &quot;Rwanda&quot;: &quot;RWF&quot;,
                    &quot;Saint Helena&quot;: &quot;SHP&quot;,
                    &quot;Samoa&quot;: &quot;WST&quot;,
                    &quot;Saudi Arabia&quot;: &quot;SAR&quot;,
                    &quot;Serbia&quot;: &quot;RSD&quot;,
                    &quot;Seychelles&quot;: &quot;SCR&quot;,
                    &quot;Sierra Leone&quot;: &quot;SLE&quot;,
                    &quot;Sierra Leone (pre-2016)&quot;: &quot;SLL&quot;,
                    &quot;Silver (one troy ounce)&quot;: &quot;XAG&quot;,
                    &quot;Singapore&quot;: &quot;SGD&quot;,
                    &quot;Solomon Islands&quot;: &quot;SBD&quot;,
                    &quot;Somalia&quot;: &quot;SOS&quot;,
                    &quot;South Africa&quot;: &quot;ZAR&quot;,
                    &quot;South Korea&quot;: &quot;KRW&quot;,
                    &quot;Special Drawing Rights&quot;: &quot;XDR&quot;,
                    &quot;Sri Lanka&quot;: &quot;LKR&quot;,
                    &quot;Sudan&quot;: &quot;SDG&quot;,
                    &quot;Suriname&quot;: &quot;SRD&quot;,
                    &quot;Sweden&quot;: &quot;SEK&quot;,
                    &quot;Switzerland&quot;: &quot;CHF&quot;,
                    &quot;Syria&quot;: &quot;SYP&quot;,
                    &quot;S&atilde;o Tom&eacute; and Pr&iacute;ncipe&quot;: &quot;STD&quot;,
                    &quot;Taiwan&quot;: &quot;TWD&quot;,
                    &quot;Tajikistan&quot;: &quot;TJS&quot;,
                    &quot;Tanzania&quot;: &quot;TZS&quot;,
                    &quot;Thailand&quot;: &quot;THB&quot;,
                    &quot;Tonga&quot;: &quot;TOP&quot;,
                    &quot;Trinidad and Tobago&quot;: &quot;TTD&quot;,
                    &quot;Tunisia&quot;: &quot;TND&quot;,
                    &quot;Turkey&quot;: &quot;TRY&quot;,
                    &quot;Turkmenistan&quot;: &quot;TMT&quot;,
                    &quot;Uganda&quot;: &quot;UGX&quot;,
                    &quot;Ukraine&quot;: &quot;UAH&quot;,
                    &quot;United Arab Emirates&quot;: &quot;AED&quot;,
                    &quot;United Kingdom&quot;: &quot;GBP&quot;,
                    &quot;United States&quot;: &quot;USD&quot;,
                    &quot;Uruguay&quot;: &quot;UYU&quot;,
                    &quot;Uzbekistan&quot;: &quot;UZS&quot;,
                    &quot;Vanuatu&quot;: &quot;VUV&quot;,
                    &quot;Venezuela&quot;: &quot;VES&quot;,
                    &quot;Venezuela (pre-2018)&quot;: &quot;VEF&quot;,
                    &quot;Vietnam&quot;: &quot;VND&quot;,
                    &quot;West African CFA franc&quot;: &quot;XOF&quot;,
                    &quot;Yemen&quot;: &quot;YER&quot;,
                    &quot;Zambia&quot;: &quot;ZMW&quot;,
                    &quot;Zambia (pre-2013)&quot;: &quot;ZMK&quot;,
                    &quot;Zimbabwe (pre-2009)&quot;: &quot;ZWL&quot;
                    }
                    }
            </code>
        </pre>
    </div>
    <div class="about-img">
        <img class="about" src="../static/images/unsplash_TamMbr4okv4.png" alt="about">
    </div>
{% endblock %}
{% include 'footer.html' %}