{% include 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
    <div class="container d-flex">
        <div class="hero-text">
           <h1>Convert any currency from anywhere
            in the world</h1>
            <p>Our Universal Currency Converter empowers you to seamlessly convert any currency from anywhere in the world.</p>
            <div class="imgs">
                <img src="../static/images/googleplay.png" alt="">
                <img src="../static/images/apple.png" alt="">
            </div>
        </div>
    </div>
{% endblock %}
{% include 'footer.html' %}