{% include 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
    <div class="container d-lg-flex space">
        <div class="hero-section p-4 d-grid max-w">
           <h1>Convert any currency from anywhere
            in the world</h1>
            <p>Our Universal Currency Converter empowers you
               to seamlessly convert any currency from anywhere
               in the world.</p>
            <div class="imgs d-flex ">
                <a href=""><img class="store-img mr-3" src="../static/images/googleplay.png" alt="google play"></a>
                <a href=""><img class="store-img ml-3" src="../static/images/apple.png" alt="apple store"></a>
            </div>
        </div>
        <div class="hero-img">
            <img class='hero' src="../static/images/hero image.png" alt="Hero">
        </div>
    </div>


    <!------Convert section------>
    <div class=" convert-section cs-bg1">
        <h2 class="text-center text-secondary">Convert Currency</h2>
        <p class="text-center text-secondary">Check live rate</p>
        <div class="m-auto box position-relative">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="d-flex align-items-center justify-content-between container ">
                    <div class="d-flex flex-column align-items-center text-secondary mt-3">
                    {{ form.select.label }} 
                    {{ form.select}}
                    </div>
                    <div class="d-flex flex-column align-items-center text-secondary mt-3 ">
                    {{ form.amount.label }}  
                    {{ form.amount }}
                    </div>
                </div>
            <div>
                <button class="m-auto d-flex justify-content-center button" type="submit"><img src="../static/images/exchange icon.png" alt=""></button>
                <hr>
            </div>
            <div class="d-flex align-items-center justify-content-between container">
                <div class="d-flex flex-column align-items-center text-secondary mt-3">
                    {{ form.convert_to.label }}  
                    {{ form.convert_to }}
                </div>
                <div class="d-flex flex-column align-items-center text-secondary mt-3 ">
                    {{ form.converted_amount.label }}
                    {{ form.converted_amount }}
                </div>
            </div>
            </form>
        </div>
        <p class="text-center text-secondary mt-2 pb-5">Rate:{{ unit }}</p>
    </div>



    <!------about section------->
    <div class="container about-section d-lg-flex align-items-center justify-content-center space">
        <div class="max-w">
            <h2>About</h2>
            <p>We believe that financial transactions should
                be as borderless as the modern world we live 
                in. Whether you're a frequent traveler, <a href="{{url_for('about')}}">more</a></p>
        </div>
        <div class="about-img">
            <img class="about" src="../static/images/unsplash_TamMbr4okv4.png" alt="about">
        </div>
    </div>


    <!----Privacy policy------->
    <div class="container privacy-section d-lg-flex align-items-center justify-content-center space ">
        <div class="priv-img mr-5">
            <img class="priv" src="../static/images/unsplash_ah-HeguOe9k.png" alt="about">
        </div>

        <div class="max-w">

            <h2>Privacy Policy</h2>
            <p>This Privacy Policy is designed to help you understand
                how we collect, use, disclose, and safeguard your personal 
                information. <a href="{{url_for('privacypolicy')}}">more</a></p>
        
    </div>

{% endblock %}
{% include 'footer.html' %}