{% include 'base.html' %}
{% block content %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
    <a href="{{url_for('home')}}" class="navbar-brand"><img class="w-25" src="../static/images/C.png" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav ml-auto">  
        <li class="nav-item"><a href="" class="nav-link text-white">Convert</a></li>
        <li class="nav-item"><a href="" class="nav-link text-white">About</a></li>
        <li class="nav-item"><a href="" class="nav-link text-white">Privacy</a></li>
    </ul>
</div>
</nav>
{% endblock %}