{% include 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<div class="container privacy-section d-lg-flex align-items-center justify-content-center space ">
    <div class="priv-img mr-5">
        <img class="priv" src="../static/images/unsplash_ah-HeguOe9k.png" alt="about">
    </div>

    <div class="max-w">

        <h2>Privacy Policy</h2>
        <p>This Privacy Policy is designed to help you understand
            how we collect, use, disclose, and safeguard your personal 
            information. <a href="{{url_for('privacypolicy')}}">more</a></p>,
    </div>
    
</div>
{% endblock %}
{% include 'footer.html' %}